@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- FIX CHROME BLUE AUTOFILL --- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f3f4f6 inset !important; /* bg-gray-100 */
  box-shadow: 0 0 0 1000px #f3f4f6 inset !important;
  -webkit-text-fill-color: #111 !important; /* text-gray-900 */
}
